<div>
  <header class="page-header">
    <a href="/the-f2e-week3">
      <img id='imgLogo' class="logo" src="assets/images/logo.png" alt="BUSTOP">
      <img id='imgLogo' class="logo" src="assets/images/BuStop.png" alt="BUSTOP">
    </a>

  </header>
  <div style="display: flex; flex-direction: row; justify-content:center;" >
    <input class='nav-menu' type="button" value="找公車">
    <input class='nav-menu' type="button" value="找客運">
    <input class='nav-menu' type="button" value="找單車">
    <input class='nav-menu' type="button" value="轉乘資訊">
  </div>
</div>
