p{
  background: #408560;
  width: 108px;
}

.nav-menu{
  background: #FFFFFF;
/* Primary/500 */

border: 1px solid #408560;
box-sizing: border-box;
border-radius: 63px;

  /* Grey / 100 */

  color: #408560;

}

button{
  position: static;
width: 111px;
height: 38px;
left: 0px;
top: 0px;

/* Primary/500 */

background: #408560;
/* Primary/500 */

border: 1px solid #408560;
box-sizing: border-box;
border-radius: 63px;
}
