div{
  background-color: #BFE0CF;
}

p{
  text-align: center;
  color: #408560;
  font-size: 15px;
  font-family: 'Noto Sans CJK TC';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */

text-align: center;
letter-spacing: 0.03em;
}

